@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: var(--universal-padding);
  padding-top: var(--universal-top-padding);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 330px) {
  /* Small screens (sm) */
  :root {
    --universal-padding: 1rem;
            --universal-top-padding: 1rem;

  }
}
@media (min-width: 640px) {
  /* Small screens (sm) */
  :root {
    --universal-padding: 1rem;
  }
}

@media (min-width: 768px) {
  /* Medium screens (md) */
  :root {
    --universal-padding: 2rem;
  }
}

@media (min-width: 1024px) {
  /* Large screens (lg) */
  :root {
    --universal-padding: 3rem;
        --universal-top-padding: 1rem;

  }
}

@media (min-width: 1280px) {
  /* Extra Large screens (xl) */
  :root {
    --universal-padding: 4rem;
        --universal-top-padding: 2rem;

  }
}

@media (min-width: 1536px) {
  /* 2XL screens (2xl) */
  :root {
    --universal-padding: 5rem;
    --universal-top-padding: 2rem;
  }
}
